.Rproj.user
.Rhistory
.RData
.Ruserdata
*.tmp
doc/~$data_formats_20210616.pptx
doc/~$oposed_work_outline.docx
simulations/test/output/results/results.csv
simulations/test/output/spatial/frames.dbf
simulations/test/output/spatial/frames.shp
simulations/test/output/spatial/frames.prj
simulations/test/output/spatial/frames.shx
simulations/test/output/spatial/points.dbf
simulations/test/output/spatial/points.prj
simulations/test/output/spatial/points.shp
simulations/test/output/spatial/points.shx
simulations/test/output/spatial/thiessen_polygons.dbf
simulations/test/output/spatial/thiessen_polygons.prj
simulations/test/output/spatial/thiessen_polygons.shp
simulations/test/output/spatial/thiessen_polygons.shx
simulations/test/output/spatial/wgtcat.dbf
simulations/test/output/spatial/wgtcat.prj
simulations/test/output/spatial/wgtcat.shp
simulations/test/output/spatial/wgtcat.shx
*.dbf
*.prj
*.shp
*.shx
*.tif
