.Rproj.user
.Rhistory
.RData
.Ruserdata
*.tmp
doc/~$data_formats_20210616.pptx
doc/~$oposed_work_outline.docx
simulations
*.dbf
*.prj
*.shp
*.shx
*.tif
*.pdf
*.csv
doc/data_formats_20210616.pptx
*.pptx
figuring_out_sim_combos.R
simulations/~$simulation_information.xlsx
questions.txt
data
ouput
figures
*.RData
direction_conversation_20230501.docx
